
@{
    ViewBag.Title = "MusteriEkle";
    Layout = "~/Views/Shared/_mainlayout.cshtml";
}
<h2>MÜŞTERİ EKLEME SAYFASI</h2>
<hr />
<form class="form-group" method="post">
    <div>
        <br />
        <label>MÜŞTERİ ADI</label>
        <input type="text" class="form-control" name="MUSTERIAD" />
        <br />
        <label>MÜŞTERİ SOYADI</label>
        <input type="text" class="form-control" name="MUSTERISOYAD" />
    </div>
    <br />
    <div><button class="btn btn-info">EKLE</button></div>
</form>
<br />
<br />
