@model MVCStokTakipSistemi.Models.Entity.TBLKATEGORI
@{
    ViewBag.Title = "UrunEkle";
    Layout = "~/Views/Shared/_mainlayout.cshtml";
}
<h2>ÜRÜN EKLEME SAYFASI</h2>
<hr />
<form class="form-group" method="post">
    <div>
        <label>ÜRÜN ID</label>
        <input type="text" class="form-control" name="URUNID" disabled />
        <br />
        <label>ÜRÜN AD</label>
        <input type="text" class="form-control" name="URUNAD" />
        <br />
        <label>ÜRÜN MARKA</label>
        <input type="text" class="form-control" name="URUNMARKA" />
        <br />
        <label>ÜRÜN KATEGORİ</label>
        <input type="text" class="form-control" name="URUKATEGORİ" />
        <br />
        <label>ÜRÜN FİYAT</label>
        <input type="text" class="form-control" name="FİYAT" />
        <br />
        <label>ÜRÜN STOK</label>
        <input type="text" class="form-control" name="STOK" />
        <br />
    </div>
    <br />
    <button class="btn btn-primary">EKLE</button>
   
</form>
<br />
<br />
